:root{
    --reusable-dark1: #23292E;
    --background-dark1: #222830;
    --reusable-white1: #FDFCFD
}

* {
    font-family: 'Gloock', serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-dark1);
}

/* #location-error{
    width:300px ;
    height:250px;
} */

.container{
    position: relative;
    width: 350px;
    height: 105px;
    background: var(--reusable-white1);
    padding: 30px;
    overflow: hidden;
    border-radius: 20px;
    transition: 0.6 ease-out;
}

.searchBar{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar input{
    color: var(--reusable-dark1);
    width: 75%;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 30px;
}

.search-bar input::placeholder{
    font-size: 24px;
    font-weight: 450;
    color: var(--reusable-dark1);
    text-transform: capitalize;
}

.search-bar button{
    cursor: pointer;
    width: 45px;
    height: 45px;
    color: var(--reusable-dark1);
    background: var(--reusable-white1);
    border-radius: 50%;
    font-size: 20px;
    transition: 0.5s ease;
}

.search-bar button:hover{
    color: var(--reusable-white1);
    background: var(--reusable-dark1);
}

.search-bar i{
    position: absolute;
    color: var(--reusable-dark1);
    font-size: 30px;

}

.weather-content{
    text-align: center;

}
.weather-content img{
    width: 50%;
    margin-top: 30px;
}

.weather-content .temp{
    position: relative;
    color: var(--reusable-dark1);
    font-size: 3.5rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -15px;
}

.weather-content .temp span{
    position: absolute;
    margin-left: 5px;
    font-size: 2rem;
}

.weather-content .desc{
    color: var(--reusable-dark1);
    font-size: 20px;
    font-weight: 450;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.weather-details .humidity, .weather-details .wind {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;

}

.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind {
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i{
    color: var(--reusable-dark1);
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;

}

.weather-details span{
    color: var(--reusable-dark1);
    font-size: 20px;
    font-weight: 450;
}

.weather-details p{
    color: var(--reusable-dark1);
    font-size: 15px;
    font-weight: 450;
}

.invalid{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;

}

.invalid img{
    width: 70%;
}

.invalid p{
    color: var(--reusable-dark1);
    font-size: 20px;
    font-weight: 450;
    margin-top: 12px;
}

.weather-content, .weather-details{
    scale: 0;
    opacity: 0;
}

.fadeIn{
        animation: 0.5s fadeIn forwards;
        animation-delay: 0.5s;
}

@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;

    }
}